<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sultaani.com.taskmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegistrationActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MyTaskActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".UserTaskActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".FirstActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MyHistoryTask"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".NotesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".AddNoteActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>